# ===== Hugo =====
public/
hugo_extended_0.134.3_linux-amd64.deb
content/1-Worklog/overview.md
.hugo_build.lock

# ===== System & IDE =====
.DS_Store
.vscode/
.cursor/

# ===== Terraform =====
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log

.venv/
__pycache__/
*.py[cod]

README.vi.md
